table.table
	tr
		td.border.border-dark 打胶
		td.border.border-dark
			-var iNbsp=0;
			while iNbsp < 15
				- iNbsp++;
				span &nbsp;
		td.border.border-dark
			-var iNbsp=0;
			while iNbsp < 55
				- iNbsp++;
				span &nbsp;
	tr
		td.border.border-dark 印花
		td.border.border-dark
		td.border.border-dark
	tr
		td.border.border-dark 蒸布
		td.border.border-dark
		td.border.border-dark
	tr
		td.border.border-dark 洗布
		td.border.border-dark
		td.border.border-dark
	tr
		td.border.border-dark 定型
		td.border.border-dark
		td.border.border-dark