extends ../aalayout/layout

block content
	div(style="height:50px")
	input#order(type="hidden", value=order)
	.container.mt-3
		.head
			include ./detail/head
		.basic.mt-3.border.p-3.pt-4
			include ./detail/basic
		.tmplet.mt-3
			include ./detail/tmplet
		.foot.mt-3
			include ./detail/foot

	.topNav-second.pt-2.noprint
		.row.text-center
			.col-3
				a.btn.btn-danger(href="/bsOrderDel/"+order._id) 删除
			if order.status == 0
				-a;
				.col-6
					form#form(method="post", action="/bsOrderEnd", enctype="multipart/form-data")
						input(type="hidden", name="obj[id]", value=order._id)
						.form-group.row
							.col-6
								input#ctAtIpt.datepicker.form-control(type="text", name="obj[edAt]", readonly="readonly", placeholder="选择发货时间, 可不选择")
							.col-6
								input.btn.btn-warning(type="submit" value="发货")
			else
				.col-3 
				.col-3
					button.btn.btn-sencondary(type="button") 已经发货
			.col-2
				a.btn.btn-link(href="/bsOrderUp/"+order._id) <span class="oi oi-pencil"></span>
			.col-1#print
				button.btn.btn-info(type="button") <span class="oi oi-print"></span>
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	//- <link rel="stylesheet" href="/resources/demos/style.css">
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	//- timepicker
	link(rel="stylesheet", href="/libs/jt.timepicker/jquery.timepicker.css")
	script(src="/libs/jt.timepicker/jquery.timepicker.min.js")

	script(src="/js/bser/order/detail/detail.js")